.header {
  border-bottom: solid 1px #917868;
  background-color: #c6a196;
  position: relative;
}

.color-texto {
  color: #917868;
}
.burger_icon_div{
    border: #917868 1px solid ;
    border-radius:3px;
    margin: auto;
    color: #917868;
}
.burger_icon{
    font-size: 35px;
    padding: 1px;
    margin: auto;
}
.logo_run {
  height: 100px;
  position: absolute;
  top: -3px;
  left: -20px;
}
.nav_phone {
  display: flex;
  justify-content: space-between;
  background-color: #ecc3bc;
}
.nav_phone_options{
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
  text-align: center;
}
.nav_tab_desk {
  display: none;
  background-color: #ecc3bc;
}
.offcanvas_width{
    width: 12rem !important;
    background-color: #c6a196;
    height: 100% !important;
}
.search_div{
  display: flex;
  justify-content: space-around;

}

.search_desk_div{
  display: none;
}

@media (min-width: 520px) {
  .burger_icon_div{
    width: 80px;
    margin: 0;
    margin-left: 10px;
  }
  .offcanvas_width{
    width: 15rem !important;}
    .nav_phone_options{
        font-size: 20px;
    }
    .logo_run {
        height: 150px;
    }
    .search_div{
  justify-content:end;
  padding-right: 10px;
  
}
  
}
@media (min-width: 801px){
    .nav_phone{
        display: none;
    }
    .nav_tab_desk{
        display: block;
    }
    .logo_run {
        height: 160px;
        top: -120px;
      }
      .nav_desk_options{
        align-items: center;
        padding-right: 5px;
        padding-left: 5px;
        font-size: 15px;
        text-align: center;
        background-color: #ecc3bc;
      }
      .search_desk_div{
        display: flex;
        position: absolute;
        top: 8px;
        right: 50px;
       
      }
      .search_desk_input{
        opacity: 0;
        transform: translateX(30%);
        overflow: hidden;
        padding: 0;
        width: 0;
        transition: transform 500ms ease, opacity 700ms ease;
        
      }
      .search_desk_input_trans{
        width: 100%;
        opacity: 1;
        transform: translateX(0);
      }

      
}
      

