.index-main{
    margin: 15px;
}

.index-main-card-discount {
    background-color: red;
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    right: 15px;
    box-shadow: 0 0 15px orangered;
}