<!DOCTYPE html>
<html>
 <%- include('partials/head',{title: 'Index' }) %>
  <body>
    
    <%- include('partials/header') %>
    <%- include('partials/navbarheader') %>

    

    <h1 class="fs-1 col-6 mx-auto p-2">PRODUCTOS DESTACADOS</h1>
    
    <%- include('partials/footer') %>
  </body>
</html>
