<!DOCTYPE html>
<html>
 <%- include('partials/head',{title: 'Productos' }) %>
  <body>
    <%- include('partials/header') %>
    <main class="index-main">
      <div class="row">
        <div class="col-12 col-6 d-flex gap-3 ">
          <% listaProductos.forEach(producto => { %>
            <%- include('partials/cards',{
              ...producto
            }) %>
          <% }) %>
        </div>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
