<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{title: 'Index' }) %>
    <body>
      <%- include('partials/navbarheader') %>
      <main>
        <div class="row">
            <div class="col-12 col-mb-4 d-flex justify-content-between p-5 gap-4">
                <div class="col-4">
                    <img src="/images/cocinitas/cocinita_pupe2.jpg" class="img-fluid" alt="no carga">
                </div>
                <div class="col-8 col-mb-4">
                    <div class="col-12">
                        <%= name %>
                    </div>

                </div>
            </div>
        </div>

      </main>
    
      <%- include('partials/footer') %>
</body>
</html>