<header>
    <div class="header">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/cocinitas.jpeg" class="img-fluid" data-bs-interval="1000" alt="No cargada1">
          </div>
          <div class="carousel-item">
            <img src="/images/cocinitas.jpeg" class="img-fluid" data-bs-interval="1000" alt="No cargada 2">
          </div>
          <div class="carousel-item">
            <img src="/images/cocinitas.jpeg" class="img-fluid" data-bs-interval="1000" alt="No cargada 3">
          </div>
        </div>
      </div>
    </div>
</header>