<div class="col-12 nav_phone">
  <div class="col-3 p-2">
  <div class="burger_icon_div col-8 d-flex justify-content-center" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="fa-solid fa-bars burger_icon" id="burger_icon"></i>
  </div>
<div class="offcanvas_width offcanvas offcanvas-start offcanvas_width" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <div class="d-flex justify-content-between">
      <img src="/images/logo.png" class="img-fluid">
    </div>
    
  </div>
  <div class="offcanvas-body ">
    <% if (locals.userData) { %>
      <p class="nav_phone_options color-texto">Hola <%= locals.userData.name %>!</p>
    <% } %>
    <hr>
    <ul class="nav_phone_options">
      <li class="nav-item">
        <a class="nav-link active color-texto"  href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-texto"  href="/products">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-texto"  href="#">Quienes somos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-texto" >Contacto</a>
      </li>
      <hr>
          <% if (!locals.userData) { %>
            <li class="nav-item"></li>
            <a class="nav-link color-texto"  href="/users/registerUser">Crear cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link color-texto" href="/users/login">Ingresar</a>
           </li>
           <% } else { %>
            
            <li class="nav-item"></li>
            <a class="nav-link color-texto"  href="/users/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link color-texto" href="#">Carrito</a>
           </li>
           <li class="nav-item">
            <a class="nav-link color-texto" href="#">Mis compras</a>
         </li>
         <li class="nav-item">
          <a class="nav-link color-texto" href="#">Mis favoritos</a>
       </li>
            <li class="nav-item">
              <a class="nav-link color-texto" href="/users/logout">Salir</a>
           </li>
            <% if (locals.userData.rol==="admin") { %>
              <hr>
              <li class="nav-item">
                <a class="nav-link  color-texto" href="/admin">Administrar productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  color-texto" href="/admin">Administrar usuarios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  color-texto" href="#">Configuración</a>
              </li>
            <% } %>
            
          <% } %>
      </ul>
  </div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
      <i class="fa-solid fa-arrow-left fw-5"></i>
    </button>
  </div>
 
</div>
<div class="col-6 d-flex justify-content-center">
  <img src="/images/logo.png" class="logo_run rounded d-flex ">
</div>
</div>
<div class="col-9 search_div">
  <form class="d-flex py-2">
    <input class="form-control mr-sm-2 " type="search" placeholder="Buscar..." aria-label="Search">
    <button class="btn border" type="submit"><i class="fa-solid fa-magnifying-glass text-color"></i></button>
  </form>
</div>
</div>


  <div class="d-flex justify-content-end  search_desk_div">
    <div class="col-9" >
      <form class="d-flex py-2" id="form_search">
        <input class="form-control search_desk_input" id="search_desk_input" type="search" placeholder="Buscar..." aria-label="Search">
        <button class="btn border" type="submit" id="search_desk_icon"><i class="fa-solid fa-magnifying-glass text-color"></i></button>
      </form>
    </div>
  </div>

  <nav class="nav_tab_desk navbar navbar-expand-lg">
  <div class="container-fluid ">
    <div class="collapse navbar-collapse col-12 d-flex justify-content-between"  id="navbarNav">
      <div class="col-5 mx-1">
      <ul class=" d-flex gap-2 justify-content-start">
        <li class="nav-item">
          <a class="nav-link active color-texto"  href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-texto"  href="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-texto"  href="#">Quienes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-texto" >Contacto</a>
        </li>
      </ul>
    </div>
      <div class="col-2 position-relative">
        <img src="/images/logo.png" class="logo_run rounded d-flex justify-content-center">
      </div>
      <div class="col-5 ">
      <ul class=" d-flex justify-content-end gap-2" >
            <% if (!locals.userData) { %>
              <li class="nav-item"></li>
              <a class="nav-link color-texto"  href="/users/registerUser">Crear cuenta</a>
              </li>
              <li class="nav-item">
                <a class="nav-link color-texto" href="/users/login">Ingresar</a>
             </li>
             <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Bienvenido <%= locals.userData.name %>!
                </a>
                <ul class="dropdown-menu nav_desk_options">
                  <li class="nav-item">
            <a class="nav-link color-texto"  href="/users/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link color-texto" href="#">Carrito</a>
           </li>
           <li class="nav-item">
            <a class="nav-link color-texto" href="#">Mis compras</a>
         </li>
         <li class="nav-item">
          <a class="nav-link color-texto" href="#">Mis favoritos</a>
       </li>
            <li class="nav-item">
              <a class="nav-link color-texto" href="/users/logout">Salir</a>
           </li>
                </ul>
              </li>
              <% if (locals.userData.rol==="admin") { %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Admin
                  </a>
                  <ul class="dropdown-menu nav_desk_options">
                <li class="nav-item">
                  <a class="nav-link  color-texto align-center" href="/admin">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  color-texto" href="/admin">Usuarios</a>
                </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link  color-texto" href="#">Configuración</a>
              </li>
              <% } %>
            <% } %>
        </ul>
      </div>
    </div>
  </div>
</nav>