<nav class=" nav_header navbar navbar-expand-lg">
    <div class="container-fluid ">
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav col-5">
          <li class="nav-item">
            <a class="nav-link active color-texto"  href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-texto"  href="/products">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-texto"  href="#">Quienes somos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link color-texto" >Contacto</a>
          </li>
        </ul>
        <div class="col-2">
          <img src="/images/logo.png" class="logo_run rounded d-flex justify-content-center">
        </div>
        
        <ul class="navbar-nav col-5 d-flex justify-content-end">
              <% if (!locals.userData) { %>
                <li class="nav-item"></li>
                <a class="nav-link color-texto"  href="/users/registerUser">Crear cuenta</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link color-texto" href="/users/login">Ingresar</a>
               </li>
               <% } else { %>
                
                <li class="nav-item"></li>
                <a class="nav-link color-texto"  href="/users/profile">Bienvenido <%= locals.userData.name %>!</a>
                </li>
                <% if (locals.userData.rol==="admin") { %>
                  <li class="nav-item">
                    <a class="nav-link  color-texto" href="/admin">Editar productos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link  color-texto" href="#">Configuración</a>
                  </li>
                <% } %>
                <li class="nav-item">
                  <a class="nav-link color-texto" href="/users/logout">Salir</a>
               </li>
              <% } %>
          </ul>
      </div>
    </div>
  </nav>